section{
 float:left;
}

#btn {
  border-radius: 8px;
  height:30px;
  font-size:12px;
  outline: none;
  position:absolute;
  top:100px;
  left:200px;
  box-shadow:3px 3px black;
}

#btn:active{
  top:103px;
  left:203px;
  box-shadow: none;
}