html{
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  user-select: none;
}

header {
  position: absolute;
  top: 100px;
  right:120px;
  & #header_trigger {
    position: fixed;
  }
}

button {
  outline: none;
}
.topBtn {
  z-index: 100;
  background-color: salmon;
  border-radius: 8px;
  color: darkslategray;
  font-size: 20px;
  font-weight: bold;
  &.animationBtn {
    transform-style: preserve-3d;
    perspective: 100px;
    animation: topBtn 3s ease forwards;
    transform-origin: top left;
  }
}

.btnHeight1 {
  height: 100px;
}
.btnHeight2 {
  height: 200px;
}
.btnHeight3 {
  height: 300px;
}

.btnAcs {
  width: 100px;
  height: 30px;
  background-color: aquamarine;
  border-radius: 20px;
  & a {
    color: darkgreen;
    text-decoration: none;
    font-size: 20px;
  }
}
.down {
  animation: downMove 3s ease forwards;
}
.animationFont {
  animation: animationFont 2s ease forwards;
  // transform: rotateX(-180deg);
}

.btn {
  position: absolute;
  float: left;
  width: 100px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  &.click{
    animation: downMove 3s ease forwards;
  }
}

@keyframes downMove {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes topBtn {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
@keyframes topBtnre {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes animationFont {
  0% {
    transform: rotateX(0);
  }
  1% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateX(180deg);
  }
}

@keyframes downMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

#home {
  margin: 0%;
  height: 100%;
  background-color: beige;
  & > .topfont{
   padding-top: 20%;
  }
}

#main {
  width: 100%;
  background-color: brown;
}

.font_animation {
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
    &:hover .ok {
      animation: ok 6s ease infinite; 
      &.ok1{
        animation-delay: 0.1s;
      }
      &.ok2{
        animation-delay: 0.2s;
      }
      &.ok3{
        animation-delay: 0.3s;
      }
      &.ok4{
        animation-delay: 0.4s;
      }
      &.ok5{
        animation-delay: 0.5s;
      }
    }
  }
    a {
      text-decoration: none;
      font-size: 28px;
      color: white;
      font-family:Arial, Helvetica, sans-serif;
    }

@keyframes ok {
    0% {
      transform: translatex(0);
    }
    33% {
      transform: translatex(400px);
    }
    
    36% {
      opacity: 0;
    }

    64% {
      opacity: 0;
      transform: translatex(-400px);
    }    
    66% {
      opacity: 1;
      transform: translatex(-400px);
    }
    100% {
      transform: translatex(0px);
    }
}
#form {
  width: 100%;
  background-color: cadetblue;
}