body {
  width: 100%;
  user-select: none;
}

header {
  position: absolute;
  top: 100px;
  right: 120px;
  & #header_trigger {
    position: fixed;
  }
}

button {
  outline: none;
}
.topBtn {
  z-index: 100;
  background-color: salmon;
  border-radius: 8px;
  color: darkslategray;
  font-size: 20px;
  font-weight: bold;
  &.animationBtn {
    transform-style: preserve-3d;
    perspective: 100px;
    animation: topBtn 3s ease forwards;
    transform-origin: top left;
  }
}

.btnHeight1 {
  height: 100px;
}
.btnHeight2 {
  height: 200px;
}
.btnHeight3 {
  height: 300px;
}

.btnAcs {
  width: 100px;
  height: 30px;
  background-color: aquamarine;
  border-radius: 20px;
  & a {
    color: darkgreen;
    text-decoration: none;
    font-size: 20px;
  }
}
.down {
  animation: downMove 3s ease forwards;
}
.animationFont {
  animation: animationFont 0.03s ease forwards;
  // transform: rotateX(-180deg);
}

.btn {
  position: absolute;
  float: left;
  width: 100px;
}


@keyframes topBtn {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
@keyframes topBtnre {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes animationFont {
  0% {
    transform: rotateX(0);
  }
  1% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotateX(180deg);
  }
}


@keyframes downMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.hide{
  display: none;
}

.main {
  font-size: 2.4rem;

  & ul {
    width: 600px;
    margin: 0 auto;

    & li {
      margin-left: 20px;
      width: 200px;
      & i {
        font-size: 2.9rem;
      }
      & p {
        font-size: 2.4rem;
      }
    }
  }
}
