#nl{
  height:200px;
  width:200px;
  font-size: 100px;
  background-color:slategray;
  color: palevioletred;
  border-radius:50%;
  text-align: center;
  line-height: 200px;
}
.bingoCard{
  background-color: coral;
}

.bingoFont{
  width:140px;
}

#bingoNumberBoard{
  width:140px;
  margin: 0;
  writing-mode:vertical-lr;
}

td{
  writing-mode:horizontal-tb;
  background-color: aquamarine;
}
th{
  width: 20%;
  background-color: chartreuse;
}
tr{
  text-align: center;
}
