section{
  text-align: center;
  margin: 50px auto 0;
}


table{
  margin:0 auto;
}

.bingoCard{
  background-color: coral;
  height: 250px;
  width: 220px;
  padding-top: 15px;
}

.bingoFont{
  width: 200px;
  height: 40px;
  font-size: 18px;
}

#bingoNumberBoard{
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 21px;
  margin: 0 auto ;
  writing-mode:vertical-lr;
}

td{
  writing-mode:horizontal-tb;
  background-color: aquamarine;
  width: 20px;
  
}
th{
  width: 20%;
  background-color: chartreuse;
}
tr{
  text-align: center;
}

.centerTd{
  font-size: 12px;
}

#lotteryBtn{
  text-align: center;
  
}

#nl{
  height: 180px;
  width: 180px;
  font-size: 92px;
  background-color: slategray;
  color: palevioletred;
  border-radius: 50%;
  text-align: center;
  line-height: 180px;
  margin: 0 auto;
}

#btn{
  height: 40px;
    width: 74px;
    margin-top: 30px;
    border-radius: 6px;
}

 #lotteryBtn.hide{
  display: none;
}

#clearBingo.hide{
  display: none;
}